.toolList {
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.198);
}
.toolList__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid rgba(250, 235, 215, 1);
    background-image: linear-gradient(100deg, transparent 40%, rgba(250, 235, 215, 0.376) 40%);
    /* margin-bottom: 4rem; */
}
.toolList__item-title {
    font-size: 2.4rem;
    padding: 1rem 2rem;
}
.toolList__item-discription {
    max-width: 70rem;
    min-height: 40rem;
    /* background-color: rgb(251, 244, 235); */
    padding: 3rem 7rem;
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
    background-color: #FDF7F0;
}
.toolList__item-img {
    max-width: 40rem;
    /* margin-right: 5rem; */
}

.toolList__price {
    padding: 2rem 2rem;
}
.toolList__price-span {
    font-size: 2.6rem;
}
