.social-icon{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 1rem;
    color: #ecb600;
    transition: all .3s;
}
.social-icon--vk{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 1rem;
    color: #ecb600;
    transform: scale(1.25);
    transition: all .3s;
}

.social-icon:hover{
    transform: translateY(-2px);
}

.social-icon--vk:hover{
    transform: scale(1.25) translateY(-2px);
}
.social-icon:active{
    transform: translateY(1px);
}
.social-icon--vk:active{
    transform: scale(1.25) translateY(1px);
}