.price-selector-wrapper {
    margin: 0;
    width: 40%;
    /* background-color: rgba(250, 235, 215, 0.548);
    border: 1px solid rgba(250, 235, 215, 1); */
    /* transform: skew(-7deg, 0); */
    border-radius:3px;
    /* box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2); */
    color: #222;
}

.price-selector {
    color: #333;
    padding: 2rem 6rem;
    /* transform: skew(7deg, 0); */
    text-align: center;
}
.price-selector__title{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
    letter-spacing: .2rem;
}
.price-selector__tarif-title{
    color: #58595B;
    font-size: 2rem;
    margin-top: 4rem;
    letter-spacing: .5rem;
    font-weight: 300;
}
.price-selector__tarif-btns{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.price-selector__tarif-button{
    cursor: pointer;
    font-size: 3.2rem;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    background-color: rgba(250, 235, 215, 1);
    display: block;
    margin: 0rem;
    transition: all .2s;
    border: 1px solid rgba(250, 235, 215, 1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.price-selector__tarif-button:not(.price-selector__tarif-button:last-child){
    margin-right: 2.2rem;
}
.price-selector__tarif-button:hover {
    transform: translateY(-1px) scale(1.1);
    border: 1px solid #f37021;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}
.price-selector__tarif-button:active {
    transform: translateY(1px);
}
.tarif-button--active{
    border: 1px solid #f37021;
    background-color: #ecb600;
    transition: all .4s;
}

.price-selector__price {
    text-align: left;
    margin-top: 5rem;
}
.price-selector__zalog {
    text-align: right;
    margin: 3rem 0;
}
.price-selector__span {
    font-size: 3.2rem;
}   

@media (max-width:850px){
    .price-selector{
        padding: 1rem;
    }
}

@media (max-width:600px) {

    .price-selector-wrapper{
        width: 100%;
    }

    .price-selector__title{
        font-size: 3rem;

    }
    .price-selector__tarif-title{
        font-size: 2.5rem;
        letter-spacing: .8rem;
    }
    .price-selector__tarif-btns{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
    .price-selector__tarif-button{
        font-size: 4rem;
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        line-height: 8rem;

    }
    .price-selector__tarif-button:not(.price-selector__tarif-button:last-child){
        margin-right: 2 rem;
    }
  
    .price-selector__price {
        text-align: center;
        margin-top: 5rem;
        /* font-size: 5rem; */
    }
    .price-selector__zalog {
        text-align: center;
        margin: 3rem 0;
    }
    .price-selector__span {
        font-size: 4rem;
    }
    
}