.breadcrumps-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 1.4rem;
}
.breadcrumps-item {
    display: inline-block;
    transform: skew(-40deg, 0);
    background-color:rgb(251, 244, 235);
    border: 1px solid rgba(250, 235, 215, 1);
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    border-radius: 3px;
    transition: all .5s;
}

.breadcrumps-link {
    color: #58595B;
    display: block;
    transform: skew(40deg, 0);
    transition: all .33s;
}
.breadcrumps-link span{
    transition: all .33s;
    color: #58595B;
}

.breadcrumps-link:hover, 
.breadcrumps-link:hover
 span{
    color: rgb(243, 112, 33);
}
.breadcrumps-item:hover {
    border-color:rgb(243, 112, 33) ;
}

@media (max-width:600px) {
    .breadcrumps-link span{
        display: none;
    }
}