.another-from-category{
    background-color: #f9f6f3;
    border-radius: 3px;
    padding: 0;
}

.another-from-category-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0rem 1rem .5rem rgba(0, 0, 0, 0.096);
}
.another-from-category-footer{
    box-shadow: 0rem -1rem .5rem rgba(0, 0, 0, 0.096);
    height: 3rem;
}
.another-from-category__list {
    display: flex;
    justify-content: center;
    
}
.another-from-category__list-item {
    background-color: white;
    margin: 2rem ;
    padding:0 0 2rem 0;
    border: 1px solid rgba(250, 235, 215, 1);
    border-radius: 3px;
    max-width: 30rem;
    transition: all .4s;
    overflow: hidden;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.109);
}
.another-from-category__list-item:hover {
    border: 1px solid #F37021;
    transform: translateY(-2px);
    box-shadow: .5rem 1rem .8rem rgba(0, 0, 0, 0.109);

}
.another-from-category__list-item:hover .another-from-category__list-item-img{
    border-bottom: 1px solid #F37021;
}

.another-from-category__list-item-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid rgba(250, 235, 215, 1);
    transition: all .4s;
}
.another-from-category__list-item-title {
    text-align: center;
    width: 80%;
    margin: 2rem auto 0rem auto;
}

@media (max-width:600px) {
    .another-from-category__list{
        flex-wrap: wrap;
        margin: 3rem 0;
    }
}
@media (max-width:400px) {
    .another-from-category__list-item{
        max-width: 90%;
        margin: .5rem;
    }
    .another-from-category__list-item-title{
        font-size: 2rem;
    }
}
