.header {
    background-color:rgb(251, 244, 235);
    margin-bottom: 1rem;
}


.header__blocks {
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__logo {
    width: 55rem;
}

/* .header__menu-btn {
    border-radius: 50%;
    background-color:#ecb600;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 3.6rem;
    color: #58595B;
    z-index: 110;
    position: absolute;
}

.header__menu-btn--search {
    right: 0rem;
} */

.header__nav {
    /* display: block; */
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 9999;
}

/* .nav-elem-wrapper{
    width: 65rem;
    height: 3.5rem;
    background-color:#58595B;
    color: #D1D3D4;
    display: flex;
    justify-content: flex-end;
    border-radius: 1.75rem;
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

} */

.nav-elem-wrapper--position {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -50%);
}

.nav-btn-show--phone {
    position: absolute;
    right: 0;
}

.nav-collapse--phone {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
    right: 5rem;
}

.nav-collapse--search {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
    right: 0rem;
}

.z-1000 {
    z-index: 1000;
}
.header__blocks-mobile{
    display: none;
}

@media (max-width: 1200px) {
    .header__blocks{
        padding: 1rem 2rem;
      }

}


@media (max-width: 600px) {
    .header__logo{
        margin-top: 2rem;
        max-width: 100%;
    }
    .header__blocks {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header__nav{
        width: 100%;
        height: 5rem;
    }
  }

  @media (max-width: 570px) {
    .header{

        /* position: sticky; */
        top: 0rem;
        z-index: 9999;
    }

    .header__nav{
        display: none;

    }
    .header__blocks{
        width: 100%;
        margin: 0;
        padding: 1rem;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        height: 7rem; 
    }
    .header__logo{
        margin-top: 0.3rem;
        max-width: 85%;
    }
    .header__blocks-mobile{
        display: block;
    }
  }