.desktop-menu-list {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.desktop-menu-item {
    margin-right: 2rem;
    border-radius: 1.75rem;
    background-color: white;
    padding: .6rem 2rem;
    transition: all .3s;
}

.desktop-menu-item:hover {
    background-color: #ecb600;

}